{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'form_ex1/styles.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{% static 'form_ex1/script.js' %}"></script>
    <title>Ex1</title>
  </head>
  <body>
    <h1>Hello</h1>
    <form id="p-form" enctype="multipart/form-data">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" class="btn">Submit</button>
      <ul class="control">
        
      </ul>
    </form>
  </body>
</html>
